
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: cnfoperators.test.cnf.operators.com
spec:
  group: test.cnf.operators.com
  names:
    kind: Cnfoperators
    listKind: CnfoperatorsList
    plural: cnfoperators
    singular: cnfoperators
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Cnfoperators is the Schema for the cnfoperators API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CnfoperatorsSpec defines the desired state of Cnfoperators
          properties:
            CRNamespace:
              type: string
            csvname:
              description: Foo is an example field of Cnfoperators. Edit Cnfoperators_types.go
                to remove/update
              type: string
            csvnamespace:
              type: string
            operatornamespace:
              type: string
          type: object
        status:
          description: CnfoperatorsStatus defines the observed state of Cnfoperators
          properties:
            crds:
              additionalProperties:
                type: string
              type: object
            csv:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "make" to regenerate code after modifying
                this file'
              properties:
                name:
                  type: string
                status:
                  type: string
                type:
                  type: string
              type: object
            deployment:
              properties:
                name:
                  type: string
                status:
                  type: string
                type:
                  type: string
              type: object
            operands:
              items:
                properties:
                  name:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
                type: object
              type: array
            operators:
              properties:
                name:
                  type: string
                status:
                  type: string
                type:
                  type: string
              type: object
            pods:
              items:
                type: string
              type: array
          required:
          - crds
          - csv
          - deployment
          - operands
          - operators
          - pods
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
